span{
    font-size: 40px;
    font-weight: 700;
}

.conferencePage{
    display: flex;
    flex-direction: column;
}

.title{
    margin:30px;
    text-align: center;
}

.conferenceContainer{
    background-color: rgb(97, 52, 132,0.4);
    margin: 20px;
    border-radius: 10px;
}

.conferenceUpper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conferenceUpper button{
    margin:10px;
    background-color: rgb(85, 24, 123);
    color:white;
    border: none;
    border-radius: 30px;
    padding: 10px;
}

.conferenceUpper button:hover{
    background-color: rgb(62, 8, 96);
    transform: scale(1.01);
}
