.notify-card {
    background-color: #e5e6e6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(100% - 40px); 
    margin: 20px auto; 
    max-width: 950px; 
  }
  

  .notify-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: flex-start;
  }
  
  .notify-title {
    font-size: 20px;
    font-weight: bold;
    color: #071a44;
    
  }
  

  
  .notify-description {
    font-size: 0.9rem;
    color: #333;
    margin-top: 10px;
    line-height: 1.4;
  }
  