.article-container{
    background-color: rgb(245, 213, 118);
    border: 1px solid rgb(68, 106, 106);
    border-radius: 10px;
    margin:20px;
}

.article-list{
    display: flex;
    flex-direction: row;
}

.article.title{
    display: flex;
    flex-direction: row;
}

.article.title span{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 50px 20px 30px;
    color: #071a44;
    text-align: center;font-size: 30px;
    font-weight: bold;
}

.add-btn{
    background: linear-gradient(#bf587f,#4966a3);
    color:white;
    border: 1px solid white;
    height: 50px;
    margin: 20px;
}