.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.home-container h1 {
    padding: 10px;
}

.home-content {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.home-img {
    height: 450px;
    width: 450px;
    /* position: absolute; */
    bottom: 0;
}

.conferences-container {
    background-color: rgb(245, 213, 118);
    width: 990px;
    min-height: 100px;
    border: 20px rgb(218, 137, 23);
    border-radius: 30px;
    overflow: visible;
    padding: 20px; /* Adaugă spațiu interior */
    box-sizing: border-box;
}

.notify-list {
    display: flex;
    flex-direction: column; /* Aranjează cardurile pe verticală */
    gap: 20px; /* Spațiu între carduri */
}