.article-bottom{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 20px;
}

.status-div{
    display: flex;
    flex-direction: row;
}

.status-text{
    color: rgb(191, 75, 197);
}

.comment-section{
    margin-top: 10px;
    border-top: 2px solid purple;
}